{% extends "base.html" %}

{% block content %}
  {% for birthday in birthdays %}
    <div>
      <div>
        {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
      </div>
      <!-- Ссылку тоже обернём в div; адрес ссылки
        указываем через namespace:name -->
      <div>
        <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a>
      </div>
      {% if not forloop.last %}
        <hr>
      {% endif %}
      <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% if not "/delete/" in request.path %}
          {% bootstrap_form form %}
        {% else %}
          <p>{{ data.first_name }} {{ data.last_name }}</p>
          <p>{{ data.birthday }}</p>
        {% endif %}
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
    </div>
  {% endfor %}
{% endblock %} 